<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (products.length > 0) { %>
        <ul class="cart__item-list">
          <!-- p refers to object passed to cartProducts array in shop controller getCart action -->
          <% products.forEach(p => { %>
            <li class="cart__item">
              <!-- cartitem is automatically created (Sequelize) key for inbetween cartitems table and the entry for this product in it -->
              <h1><%= p.title %></h1>
              <h2>Quantity: <%= p.cartItem.quantity %></h2>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%= p.id %>" name="productId">
                <button class="btn-danger" type="submit">Delete</button>
              </form>
            </li>
          <% }) %>
        </ul>
        <div class="centered mt-4">
          <form action="/create-order" method="POST">
            <button class="btn" type="submit">Order Now</button>
          </form>
        </div>
      <% } else { %>
        <h1>No products in cart</h1>
      <% } %>
    </main>
    <%- include('../includes/end.ejs') %>